	
* {
    box-sizing: border-box;
}
html {
	margin: 5px;
    padding:  20px;
	}

body {
	background-image: url('stagecross.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 2px;
	font-family: harrington;
	}

.row {
	margin-bottom: 5px;
	}

#header {
	padding: 65px;
    color: red;
    text-shadow:  1px 1px black;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 35px;
	text-align: center;
	background-color: white;
	background-image: url('logo24.jpg'), url('sign.jpg');
	background-position: left, right;
	background-repeat: no-repeat, no-repeat;
	background-size: 337px 200px, 337px, 200px;
	clear: both;
	margin-left: 55px;
	}





/* navigaton */
#navigation {
	background-color: white;
	margin: 20px 0px 0px 0px;
	}

.nav-pills>li>.dropdown-menu a {
        color:  black;
        text-decoration: underline;
        font-weight:  bold;
}

.nav-pills>li>.dropdown-menu a:hover {
        background-color: #9ebbfe;
}


li a {
	background-color: white;
	font-size: 25px;
	color: black;
	font-weight: bold;
	margin: 0px 2px 0px 17px;
	}



.nav-pills>li>a:hover {
	background-color: #9ebbfe;	
	color: black;
	}


.nav-pills>li>a:visited {
	background-color: #9ea9f4;
	}


/* member section */

#members {
    background-color:  white;
    text-align: left;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 100px;
}

#title {
    font-size:  30px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    padding-top:  40px; 
    padding-left: 10px;  
}

#memName {
    font-size: 25px;
    color: red;
    text-decoration: none;
    padding-left: 10px;
}

#pastorpic {
    width:  100px;
    height: 100px;
    display:  block;
    margin-left: auto;
    margin-right: auto;
}



#bcross {
    width: 25px;
    height: 25px;
}


/* info section */

#info {
    background-color: white;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 5px;
    color: black;
}

#building {
    width: 700px;
    height: 400px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

#welcome2, #message2 {
    font-size: 20px;
    text-indent: 20px;
    font-family: Calibri,'Times New Roman';
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}






/* mission statement page */

#mission {
    background-color: white;
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 50px;
    border-radius: 5px;
    text-align: center;
}

#missiontitle {
    padding-top:  40px;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}

#bibleverse {
    font-family: Calibri, 'Times New Roman';
    font-size: 25px;
    margin-left: 75px;
    margin-right: 75px;
}

#bibleverse::first-line {
    color: red;
    text-decoration: underline;
}

dl {
    text-align: left;
}

dt {
    font-size: 30px;
    margin-top: 20px;
}

dd {
    font-size: 25px;
    opacity: 0.7;
    font-family:  Calibri, 'Times New Roman';
    display: inline-block;
    text-align: justify;
    margin-left:  50px;
}



/* vision statement page */

#vision {
    background-color: white;
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 50px;
    border-radius: 5px;
    text-align: center;
}

#visiontitle {
    padding-top:  40px;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

#mVersion {
    font-family: Calibri, 'Times New Roman';
    font-size: 25px;
    opacity: 0.7;
}


/* service times page*/

#service {
    background-color: white;
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 50px;
    border-radius: 5px;
    text-align: center;
}

#servicetitle {
    padding-top:  40px;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

#sTitle {
    font-size: 40px;
    margin-top: 40px;
    font-weight: bold;
}

#sEvent {
    font-family: Calibri, 'Times New Roman';  
    font-size: 33px;
    opacity: 0.7;
}

#eTime {
    font-family:  Calibri, 'Times New Roman';
    font-size: 25px;
    color: red;
}


/* calendar event page */

#calendar {
    background-color: white;
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 50px;
    border-radius: 5px;
    text-align: center;
}

#cTitle {
    padding-top:  40px;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

#timeDate {
    font-size:  35px;
    text-align: left;
    font-weight: bold;
    padding-left: 40px;
}

#tDate {
    font-size: 30px;
    text-align: left;
    color: red;
    padding-left: 90px;
}

#eInfo {
    font-family: Calibri, 'Times New Roman';
    font-size: 25px;
    opacity: 0.7;
    text-align: justify;
    padding: 10px;
}

#tableDiv {
    background-color: white;
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 50px;
    border-radius: 5px;
    text-align: center;
}

#eTable {
    border: 2px solid grey;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    margin:  10px 100px 10px 100px;
    
}

#tHead {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

#eTable>tbody>tr>td {
    font-size: 20px;
    font-family: Calibri,'Times New Roman';
}
#eTable>tbody>tr>td:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

#eTable>tbody>tr>td:nth-child(2) {
    text-align: left;
    padding-left: 40px;
}

#eTable>tbody>tr>td:nth-child(3) {
    color: red;
    text-align: right;
    
}


/* hall page */

#hInfo {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

#hir {
    padding-top:  40px;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-align: center; 
}

#hallpic {
    width: 700px;
    height: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hInfo1 {
    font-family: Calibri, 'Times New Roman';
    font-size: 25px;
    opacity: 0.7;
    display: inline-block;
    padding: 10px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 70%;
    margin: auto;
}

#my {
    padding-bottom: 20px;
    padding-top: 20px;
}




/* contact page */

#cInfo {
    background-color: white;
    padding: 20px;
}

#cHead {
    padding-top:  40px;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-align: center; 
}

#cMessage {
    font-family:  Calibri, 'Times New Roman';
    font-size: 25px;
    opacity: 0.7;
    display: inline-block;
    text-align: left;
    border-bottom:  2px solid grey;
}

/* form controls */

.form-horizontal {
    padding-top: 100px;
    height:  500px;
    background-color: #d7cfcf;
}

#email1, #message1 {
    font-size: 20px;
    text-decoration: underline;
}

#email {
    font-size: 15px;
    font-weight: bold;
}

#message {
    font-size: 20px;
    font-weight: bold;
}

#btns {
    padding-top: 50px;
}

.btn {
    width: 200px;
    font-weight: bold;
    color: black;
}





/* footer */
.footer {
	position: relative;
	left: 55px;
	color: black;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	word-spacing: 2px;
	margin-top: 5px;
	background-color: grey;
	border: 2px solid grey;
	border-radius: 2px;
	}

.footer::first-line {
	font-size: 20px;
	}










